@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:wght@400;600;700&family=Pacifico&display=swap');

/* 

font-family: 'Lato', sans-serif;   ==> Titles and heading 

*/

/* Materialisecss helper for keeping the footer at the bottom of the page */
/* Credit start */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    /* allow content to grow but not to shrink */
    flex: 1 0 auto;
}
/* Credit end */

/* Layout */
html,
body {
    position: relative;
    box-sizing: border-box;
    font-size: 1rem;
    min-width: 100%;
}

.centered {
    margin: auto;
}

/* Typograpgy */
html,
body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
}

h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
}

p {
    max-width: 65ch;
}

:focus {
    outline: none;
    text-decoration: underline;
    transform: scale(1.1);
    font-weight: bolder;
}

input:focus,
textarea:focus {
    transform: none;
} 

.hide {
    display: none;
}

/* 
Yellow #E9F900 for Friendliness and Warmth.
Blue #0845FF for Confidence, Sincerity and Integrity.
Red #FF091E for cancelling and deleting functionality.
Orange #FF8401 for Creativity and Innovation.
Green #24C212 for Life, Growth and Nature.
The background will be off White #FAFAFA for simplicity and cleanliness.
Footer will be Grey #999999 for a nice contrast.
*/

/* colours */
body {
    background-color: #fafafa;
}

footer {
    background-color: #999;
}

.orange-bg {
    background-color: #FF8401;
}

.yellow-bg {
    background-color: #E9F900;
}

.green-bg {
    background-color: #24C212;
}

.blue-bg {
    background-color: #0845FF;
}

.red-bg {
    background-color: #FF091E;
}

.white-bg {
    background-color: #fafafa;
}

.blue-txt {
    color: #0845FF;
}

.red-txt {
    color: #FF091E;
}

.yellow-txt {
    color: #E9F900;
}

.white-txt {
    color: #fafafa;
}

.black-txt {
    color: #000;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Modal and Overlay */
.modals {
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 10;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    
    transition: translate 300ms ease-in-out;
    -o-transition: translate 300ms ease-in-out;
    -moz-transition: translate 300ms ease-in-out;
    -ms-transition: translate 300ms ease-in-out;
    -webkit-transition: translate 300ms ease-in-out;
}

.modal-active {
    transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    opacity: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
}

.overlay-active {
    pointer-events: all;
    opacity: 1;
}


/* Header */
#header {
    position: relative;
}

#header a {
    font-size: 1.1rem;
    color: #000;
}

.logo {
    position: absolute;
    left: 18px;
    top: 10%;
}

.registration {
    position: absolute;
    left: 66px;
}

.icon-placeholder {
    display: block;
    width: 60px;
    height: 10px;
}

#profile-icon {
    font-size: 2rem;
    position: absolute;
    top: 20%;
}

.mobile-dropdown {
    margin-top: 64px;
}

@media(max-width: 583px) {
    .mobile-dropdown {
        margin-top: 56px;
    }
}

/* Footer */
.footer-wrapper{
    margin: 0 auto;
    width: 100%;
}

.third-div {
    display: inline-block;
    position: relative;
    padding: 6px;
    width: 100%;
}

@media(min-width: 450px) {
    .third-div {
        width: 32%;
    }
}

.contact-us,
.privacy-policy {
    color: #000;
}

.contact-us i {
    transform: translate(0, 30%);
    line-height: 1rem;
}

.copyright {
    font-size: 0.8rem;
}

/* flash messages */
.flash-container {
    height: 40px;
    margin: 5px auto;
    position: relative;
}

.flash-btn {
    line-height: 24px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.flash-btn i {
    line-height: 24px;
    font-size: 1.2rem;
}

.flash-btn:active,
.flash-btn:hover {
    background-color: #fafafa;
}

.flash-btn:active i,
.flash-btn:hover i {
    color: #FF091E;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Forms and buttons */
.helper-text {
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.helper-text .material-icons {
    font-size: 1.4rem;
    color: #FF091E;
    margin-right: 5px;
}

.form-message {
    margin: 3px auto;
}

.back-btn,
.submit-btn,
.cancel-btn {
    margin: 6px;
}

.back-btn:hover {
    background-color: #E9F90080;
    color: #000;
    font-weight: 700;
}

.back-btn:focus {
    background-color: #E9F900;
    color: #fafafa;
    box-shadow: 
        inset 0 0 0 2px #E9F900,
        inset 0 0 0 4px #fafafa;
}

.submit-btn:hover {
    background-color: #0845ff4d;
    color: #0845FF;
    font-weight: 700;
}

.submit-btn:focus {
    background-color: #0845ff;
    color: #fafafa;
    box-shadow: 
        inset 0 0 0 2px #0845ff,
        inset 0 0 0 4px #fafafa;
}

.cancel-btn:hover {
    background-color: #FF091E4d;
    color: #FF091E;
    font-weight: 700;
}

.cancel-btn:focus {
    background-color: #FF091E;
    color: #fafafa;
    box-shadow: 
        inset 0 0 0 2px #FF091E,
        inset 0 0 0 4px #fafafa;
}

/* profile chip */
.profile-chip {
    margin: auto;
}

/* home.html */
.home-subheading {
    font-style: italic;
}

.home-card-wrapper {
    margin-top: 10%;
    max-width: 1260px;
}

.home-cards {
    margin: 20px auto;
    width: 360px;
    height: 200px;
    border-radius: 10px;
}

.home-card-headings {
    margin-top: 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
}

.home-card-txt {
    font-size: 1rem;
    font-weight: 600;
}

.about-us {
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
}

.about-us:hover,
.about-us:focus,
.about-us:active {
    background-color: #0845FF;
    color: #fafafa;
}

/* profile.html */
.profile-container {
    padding: 10px;
}

.profile-info-wrapper {
    margin-bottom: 10px;
}

.profile-info-titles {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-right: 3px;
}

.profile-info {
    font-weight: 600;
}

.profile-picture {
    margin: 10px;
}

.delete-profile-btn {
    font-size: 0.6rem;
    padding: 0 3px 0 6px;
}

.delete-icon {
    margin-left: 5px;
}

/* delete_profile.html */

.cancel-delete-btn {
    margin: 0 10px;
    font-size: 0.8rem;
}

.cancel-delete-btn:hover,
.cancel-delete-btn:focus,
.cancel-delete-btn:active {
    background-color: #24C2124d;
    color: #24C212;
    font-weight: 700;
}

.warning {
    font-size: 1.5rem;
    padding: 6px;
}

.warning span {
    padding: 6px;
}

.warning .material-icons {
    margin: 12px;
    font-size: 3rem;
}

/* update_profile.html */
.select-file {
    border-radius: 5px;
    background-color: #0845ff99;
    color: #fafafa;
    font-size: 0.7rem;
    padding: 0 1rem;
    
}

.select-file:hover,
.select-file:focus,
.select-file:active {
    color: #0845ff;
    background-color: #0845ff90;
    font-weight: 700;
    font-size: 0.8rem;
}

/* events.html */
/* Modification of the Materialize carousel for the website needs */
.carousel {
    height: 700px;
    transform: translateY(-200px);
    margin-bottom: 30px;
}

.carousel .carousel-item {
    width: 360px;
}

.carousel .indicators .indicator-item {
    background-color: #000;
}

.carousel .indicators .indicator-item.active {
    background-color: #FF091E;
}

.event-modal-heading {
    margin-top: 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
}