<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Meet up, socialise, discover and have fun with other families! It's great for you and your litle ones!" />
    <meta name="keywords"
        content="family, families, discover, socialise, meet, together, children, kids, activities, going out, play, have fun, family-friendly" />
    <meta name="author" content="Tom Nagy" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  type="text/css">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon/favicon.ico')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block emailjs %}
    {% endblock %}
    
    <title>Family Friendly</title>
</head>

<body>
    <!-- Navbar -->
    <header id="header">
        <div class="navbar-fixed">
            <nav class="text-shadow">
                <div class="nav-wrapper">
                    <!-- Always visible nav -->
                    <a href="{{ url_for('index.home') }}" class="logo" aria-label="Link to home page.">
                        <img src="{{ url_for('static', filename='images/logo/logo.png') }}" 
                            class="logo-image hoverable" alt="smiling sunflower" title="Link to home page."
                            width="32" height="32">
                    </a>
                    <ul class="left registration">
                        {% if session.user %}
                            <li><a href="{{ url_for('users.logout') }}" aria-label="Log out.">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('users.login') }}" aria-label="Link to the Log In page.">Log In</a></li>
                            <li><a href="{{ url_for('users.signup') }}" aria-label="Link to the Sign Up page.">Sign Up</a></li>
                        {% endif %}
                    </ul>
                    <!-- Large screen navbar -->
                    <ul>
                        <div class="right hide-on-med-and-down">
                            {% if session.user %}
                                <!-- link to Events -->
                                <li><a href="{{ url_for('events.browse_events') }}" aria-label="Link to the Events page.">Events</a></li>
                                <!-- link to Create -->
                                <li>
                                    <a href="{{ url_for('events.create_event', username=session['user']) }}"
                                        aria-label="Link to the Creates page.">
                                        Create</a>
                                </li>
                                <!-- link to profile -->
                                <li class="tooltipped" data-tooltip="profile">
                                    <a href="{{ url_for('users.profile', username=session['user']) }}"
                                        aria-label="Link to the Profile page." class="center-align">
                                        <div class="chip col s3 profile-chip">
                                            {% if user.profile_picture != None %}
                                            <!-- user picture -->
                                            <img class="profile-picture"
                                                src="data:image/png;base64,{{ user.profile_picture }}"
                                                alt="Profile image of {{ user.username }}">
                                            {% else %}
                                            <!-- default picture -->
                                            <img class="profile-picture"
                                                src="/static/images/default-profile-picture/default-profile-picture.png"
                                                alt="Default profile picture representing a smiling sunflower.">
                                            {% endif %}
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li><a href="{{ url_for('events.browse_events') }}" aria-label="Link to the Events page.">Events</a></li>
                            {% endif %}
                        </div>
                        <li class="right">
                            <a href="#" data-activates="mobile-navbar" class="dropdown-button show-on-medium-and-down hide-on-large-only" 
                                aria-label="Menu">
                                <i class="material-icons">menu</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Mobile navbar -->
            <ul class="dropdown-content mobile-dropdown" id="mobile-navbar">
                {% if session.user %}
                    <!-- link to Events -->
                    <li><a href="{{ url_for('events.browse_events') }}" aria-label="Link to the Events page.">Events</a></li>
                    <!-- link to create -->
                    <li><a href="{{ url_for('events.create_event', username=session['user']) }}"
                        aria-label="Link to the Creates page.">Create</a></li>
                    <!-- link to profile -->
                    <li class="tooltipped" data-tooltip="profile">
                        <a href="{{ url_for('users.profile', username=session['user']) }}"
                            aria-label="Link to the Profile page." class="center-align">
                            <div class="chip col s3 profile-chip">
                                {% if user.profile_picture != None %}
                                <!-- user picture -->
                                <img class="profile-picture"
                                    src="data:image/png;base64,{{ user.profile_picture }}"
                                    alt="Profile image of {{ user.username }}">
                                {% else %}
                                <!-- default picture -->
                                <img class="profile-picture"
                                    src="/static/images/default-profile-picture/default-profile-picture.png"
                                    alt="Default profile picture representing a smiling sunflower.">
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('events.browse_events') }}" aria-label="Link to the Events page.">Events</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <main>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flash-wrapper" id="flash-messages">
                        <div class="col12 flash-container valign-wrapper">
                            <p class="flash-txt center-align centered">{{ message }}</p>
                            <button type="button" class="btn-floating red-bg flash-btn" id="close-flash">
                                <i class="close material-icons">close</i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="center-align">
            {% block heading %}
            {% endblock %}
        </div>

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-copyright">
            <div class="footer-wrapper valign-wrapper">
                <div class="third-div center-align">
                    {% if session.user %}
                        <a class="contact-us text-shadow" href="{{ url_for('footer.contact', username=session['user']) }}"
                            aria-label="Link to the Contact Us page.">
                            <i class="material-icons prefix">mail_outline</i> Contact Us
                        </a>
                    {% else %}
                        <a class="contact-us text-shadow" id="try-contact" href="#"
                            aria-label="Link to the Contact Us page.">
                            <i class="material-icons prefix">mail_outline</i> Contact Us
                        </a>
                    {% endif %}
                </div>
                <div class="third-div center-align">
                    <a class="privacy-policy text-shadow" href="#!"
                        aria-label="Link to the Privacy Policy page.">Privacy Policy</a>
                </div>
                <div class="third-div center-align copyright">
                    <span>&copy; 2021 Tom Nagy</span>
                </div>
            </div>

            <!-- try contact modal -->
            <div id="try-contact-modal" class="modals white-bg black-txt card-panel">
                <h2 class="card-headings center-align text-shadow">Sorry Cannot access Contact!</h2>
                <p class="center-align">
                    In order to contact us,
                    please <span class="text-shadow">Log In</span> or <span class="text-shadow">Sign Up</span>.
                </p>
                <div class="center-align">
                    <a href="{{ url_for('users.login') }}" aria-label="Link to the Log In page."
                        class="btn submit-btn blue-bg">Log In</a>
                    <a href="{{ url_for('users.signup') }}" aria-label="Link to the Sign Up page."
                        class="btn submit-btn blue-bg">Sign Up</a> <br>
                    <a href="{{ url_for('index.home') }}" aria-label="Link to the Home page."
                        class="btn back-to-home-btn black-txt green-bg">Back to browsing</a>
                </div>
            </div>

            <div id="footer-overlay" class="overlay"></div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>