{% extends 'base.html' %}
{% block heading %}
    <h2 class="blue-txt">Create an Event</h2>
{% endblock %}

{% block content %}


<!-- <div class="row">
    <div class="input-field disabled col s12">
        <div class="chip col s3 profile-chip">
            {% if user.profile_picture != None %}
                user picture
                <img class="profile-picture" src="data:image/png;base64,{{ user.profile_picture }}"
                    alt="Profile image of {{ user.username }}">{{ user.username }}
            {% else %}
                default picture
                <img class="profile-picture"
                    src="/static/images/default-profile-picture/default-profile-picture.png"
                    alt="Default profile picture representing a smiling sunflower.">{{ user.username }}
            {% endif %}
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col s12">
        <div class="carousel">
            {% for event in events_list %}       
                <a class="carousel-item event-slide black-txt">
                    <div class="card-panel orange-bg">
                        <!-- Created By -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_created_by }}</span>
                            </div>
                        </div>
                        <!-- Category -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_category }}</span>
                            </div>
                        </div>
                        <!-- Location -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_location }}</span>
                            </div>
                        </div>
                        <!-- Date -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_date }}</span>
                            </div>
                        </div>
                        <!-- Time -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_time }}</span>
                            </div>
                        </div>
                        <!-- Age Range -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_age_range }}</span>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_description }}</span>
                            </div>
                        </div>
                        <!-- Likes -->
                        <div class="row">
                            <div class="col s12">
                                <span>{{ event.event_likes }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scripts/browse_events.js') }}"></script>
{% endblock %}