{% extends 'base.html' %}
{% block heading %}
    <h2 class="blue-txt">Events</h2>
{% endblock %}

{% block content %}



<div class="row">
    <div class="col s12">
        <div class="carousel">
            {% for event in events_list %}       
                <a class="carousel-item event-slide black-txt">
                    <div class="card-panel orange-bg">
                        <!-- Created By -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-descriptions">{{ event.event_created_by }}</p>
                            </div>
                        </div>
                        <!-- Category -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-titles">What ?</p>
                                <p class="events-card-descriptions">{{ event.event_category }}</p>
                            </div>
                        </div>
                        <!-- Location -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-titles">Where ?</p>
                                <p class="events-card-descriptions">{{ event.event_location }}</p>
                            </div>
                        </div>
                        <!-- Date -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-titles">When ?</p>
                                <p class="events-card-descriptions">{{ event.event_date }}</p>
                            </div>
                        </div>
                        <!-- Time -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-titles">What time ?</p>
                                <p class="events-card-descriptions">{{ event.event_time }}</p>
                            </div>
                        </div>
                        <!-- Age Range -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-titles">Age range in years :</p>
                                <p class="events-card-descriptions">{{ event.event_age_range }}</p>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-titles">Description :</p>
                                <p class="events-card-descriptions">{{ event.event_description }}</p>
                            </div>
                        </div>
                        <!-- Likes -->
                        <div class="row events-card-sections">
                            <div class="col s12">
                                <p class="events-card-descriptions">{{ event.event_likes }}</p>
                            </div>
                        </div>
                    </div>
                </a>
               
            {% endfor %}
        </div>
    </div>
</div>
<!-- Overlay -->
<div class="overlay"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scripts/events.js') }}"></script>
{% endblock %}