{% extends "base.html" %}

{% block heading %}
<h1>Family Friendly</h1>
<p class="centered home-subheading container">Where Families Meet Up, Socialise, Discover and Have Fun Together!</p>
{% endblock %}

{% block content %}
    <div class="row home-card-wrapper center-align">
        <!-- Events -->
        <div class="col s10 offset-s1 l4 offset-l2">
            <div class="card-panel yellow-bg home-cards valign-wrapper hoverable">
                <a href="{{ url_for('events.browse_events') }}" class="black-txt centered">
                    <h2 class="card-headings center-align text-shadow">Events</h2>
                    <p class="home-card-txt center-align">
                        Brows Events and Join to Participate
                    </p>
                </a>
            </div>
        </div>
        <!-- Create -->
        <div class="col s10 offset-s1 l4">
            <div class="card-panel orange-bg home-cards valign-wrapper hoverable">
                {% if session.user %}
                    <a href="{{ url_for('events.create_event', username=session['user']) }}" class="black-txt centered">
                        <h2 class="card-headings center-align text-shadow">Create</h2>
                        <p class="home-card-txt center-align">
                            Make an Event of your own in a few steps<br>
                            It's easy and fun!
                        </p>
                    </a>
                {% else %}
                    <a href="#" class="black-txt centered" id="try-create">
                        <h2 class="card-headings center-align text-shadow">Create</h2>
                        <p class="home-card-txt center-align">
                            Make an Event of your own in a few steps<br>
                            It's easy and fun!
                        </p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- about us -->
    <div class="center-align">
        <button class="about-us text-shadow hoverable" id="about-us-btn">
            About Us!
        </button>
    </div>

    <!-- about us modal -->
    <div id="about-modal" class="modals white-bg black-txt card-panel">
        <h2 class="card-headings center-align text-shadow">About Us!</h2>
        <p class="center-align">
            Family Friendly is a community based platform where Families can get together and enjoy activities.<br>
            It promotes Togetherness, mobility, physical and mental health.<br>
            Here you can Join activities created by your community and have a good time!<br>
            You can as well create an activity and encourage people to got out 	&#x1F601; <br>
            There is as well a support page in the making where you will find useful contacts, 
            parenting advices and the access to a forum where you can ask questions and discuss &#x1F609;
        </p>
    </div>

    <!-- try create modal -->
    <div id="try-create-modal" class="modals white-bg black-txt card-panel">
        <h2 class="card-headings center-align text-shadow">Sorry Cannot Create!</h2>
        <p class="center-align">
            In order to Create an Event, 
            please <span class="text-shadow">Log In</span> or <span class="text-shadow">Sign Up</span>.
        </p>
        <div class="center-align">
            <a href="{{ url_for('users.login') }}" aria-label="Link to the Log In page." class="btn submit-btn blue-bg">Log In</a>
            <a href="{{ url_for('users.signup') }}" aria-label="Link to the Sign Up page." class="btn submit-btn blue-bg">Sign Up</a> <br>
            <a href="{{ url_for('index.home') }}" aria-label="Link to the Home page." class="btn back-to-home-btn black-txt green-bg">Back to browsing</a>
        </div>
    </div>

    <div id="home-overlay" class="overlay"></div>
    <div id="about-overlay" class="overlay"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scripts/home.js') }}"></script>
{% endblock %}