{% extends 'base.html' %}
{% block heading %}
    <h2 class="blue-txt">Welcome Back!</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="col s12 m8 offset-m2 l6 offset-l3 card-panel" method="POST" action="{{ url_for('users.login') }}">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" minlength="8" maxlength="30"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!#%*?&]{8,30}$" required>
                    <label for="password">Password</label></span>
                </div>
            </div>
            <div class="row">
                <div class="col12 center-align">
                    <button class="btn waves-effect waves-light blue-bg white-txt join-btn" type="submit">
                        <span class="valign-wrapper">
                            Enter <span class="material-icons">login</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="form-message center-align">
                Already part of the Family ? <a href="#">Log In</a>
            </p>
        </div>
    </div>
{% endblock %}