{% extends "base.html" %}

{% block heading %}
    <h2 class="blue-txt">{{ user.username }}'s profile</h2>
{% endblock %}

{% block content %}

    <!-- Profile info -->
    <div class="row">
        <!-- Large screen profile info display -->
        <div class="col hide-on-small-only m8 offset-m2 l6 offset-l3">
            <div class="card horizontal profile-container large-screen-profile">
                <!-- Profile picture -->
                <div class="card-image valign-wrapper">
                    <!-- Change picture -->
                    <a class="tooltipped hoverable" href="{{ url_for('users.update_picture', user_id=user._id) }}"
                        aria-label="Change or Add profile picture." data-tooltip="Click to update profile picture">
                        {% if user.profile_picture != None %}
                            <!-- user picture -->
                            <img class="profile-picture" src="data:image/png;base64,{{ user.profile_picture }}"
                                alt="Profile image of {{ user.username }}" height="180" width="180">
                        {% else %}
                            <!-- default picture -->
                            <img class="profile-picture"
                                src="/static/images/default-profile-picture/default-profile-picture.png"
                                alt="Default profile picture representing a smiling sunflower." height="180" width="180">
                        {% endif %}
                    </a>
                </div>
                <!-- Personal info -->
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="profile-info-wrapper">
                            <span class="profile-info-titles">Username:</span>
                            <span class="profile-info">{{ user.username }}</span>
                        </div>
                        <div class="profile-info-wrapper">
                            <span class="profile-info-titles">First Name:</span>
                            <span class="profile-info">{{ user.first_name }}</span>
                        </div>
                        <div class="profile-info-wrapper">
                            <span class="profile-info-titles">Last Name:</span>
                            <span class="profile-info">{{ user.last_name }}</span>
                        </div>
                        <div class="profile-info-wrapper">
                            <span class="profile-info-titles">Email:</span>
                            <span class="profile-info">{{ user.email }}</span>
                        </div>
                    </div>
                    <!-- Update info / Change password -->
                    <div class="card-action center-align">
                        <a href="{{ url_for('users.update_profile', user_id=user._id) }}">Update info</a>
                    </div>
                    <div class="card-action center-align">
                        <a href="{{ url_for('users.change_password', user_id=user._id) }}">Change password</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile profile info display -->
        <div class="col s10 offset-s1 hide-on-med-and-up">
            <div class="card profile-container mobile-profile">
                <!-- Profile picture -->
                <div class="card-image">
                    <!-- Change picture -->
                    <a class="tooltipped hoverable" href="{{ url_for('users.update_picture', user_id=user._id) }}"
                        aria-label="Change or Add profile picture." data-tooltip="Click to update profile picture">
                        {% if user.profile_picture != None %}
                            <!-- user picture -->
                            <img class="profile-picture" src="data:image/png;base64,{{ user.profile_picture }}"
                                alt="Profile image of {{ user.username }}" height="90" width="90">
                        {% else %}
                            <!-- default picture -->
                            <img class="profile-picture"
                                src="/static/images/default-profile-picture/default-profile-picture.png"
                                alt="Default profile picture representing a smiling sunflower." height="90" width="90">
                        {% endif %}
                    </a>
                    <p class="center-align change-mobile-profile-image">Change your picture by clicking on the image.</p>
                </div>
                <!-- Personal info -->
                <div class="card-content">
                    <div class="profile-info-wrapper">
                        <span class="profile-info-titles">Username:</span>
                        <span class="profile-info">{{ user.username }}</span>
                    </div>
                    <div class="profile-info-wrapper">
                        <span class="profile-info-titles">First Name:</span>
                        <span class="profile-info">{{ user.first_name }}</span>
                    </div>
                    <div class="profile-info-wrapper">
                        <span class="profile-info-titles">Last Name:</span>
                        <span class="profile-info">{{ user.last_name }}</span>
                    </div>
                    <div class="profile-info-wrapper">
                        <span class="profile-info-titles">Email:</span>
                        <span class="profile-info">{{ user.email }}</span>
                    </div>
                </div>
                <!-- Update info / Change password -->
                <div class="card-action center-align">
                    <a href="{{ url_for('users.update_profile', user_id=user._id) }}">Update info</a>
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for('users.change_password', user_id=user._id) }}">Change password</a>
                </div>
            </div>
        </div>
        <div class="col s10 offset-s1 center-align">
            <p class="center-align change-profile-image centered">Change your picture by clicking on the image.</p>
        </div>
    </div>
    <!-- Display events created by user -->
    <div class="row">
        <h3 class="center-align">Events Created</h3>
        {% if events_list_created|length > 0 %}
            {% for event in events_list_created %}
                <div class="col s10 offset-s1 l4 offset-l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <!-- Collapsible Header -->
                            <div class="row collapsible-header no-margin-bot">
                                <!-- Category -->
                                <div class="col s5">
                                    <p class="events-card-titles">{{ event.event_category }}</p>
                                </div>
                                <div class="col s7">
                                    <div class="row no-margin-bot">
                                        <!-- Date -->
                                        <div class="col s12">
                                            <p class="events-card-descriptions">{{ event.event_date }}</p>
                                        </div>
                                        <!-- Participant -->
                                        <div class="col s12 participant participant-mobile">
                                            {% if event.event_joined_by != None %}
                                                <span>{{ event.event_joined_by|length }} Participant</span>
                                            {% else %}
                                                <span>0 Participant</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Likes -->
                                <div class="likes-display z-depth-3">
                                    <div class="center-align">
                                        {% if event.event_likes != None %}
                                            <span class="likes-num">{{ event.event_likes|length }}</span>
                                        {% else %}
                                            <span class="likes-num">0</span>
                                        {% endif %}
                                        <span class="material-icons likes-icon blue-txt">thumb_up_alt</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Collapsible Body -->
                            <div class="row collapsible-body">
                                <form action="{{ url_for('events.see_event') }}" method="POST">
                                    <!-- Hidden input to get the event id -->
                                    <div class="hide">
                                        <input id="event_id" name="event_id" value="{{ event._id }}" type="text">
                                    </div>
                                    <div class="col s12">
                                        <div class="row">
                                            <!-- Location -->
                                            <div class="col s8">
                                                <p class="events-card-descriptions">In {{ event.event_location }}</p>
                                            </div>
                                            <!-- Time -->
                                            <div class="col s4">
                                                <p class="events-card-descriptions"> at {{ event.event_time }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Description -->
                                    <div class="col s12">
                                        <p class="events-card-descriptions center-align">{{ event.event_description }}
                                        </p>
                                    </div>
                                    <!-- Age Range -->
                                    <div class="col s12">
                                        <p class="events-card-descriptions center-align age">Best suited for children
                                            between {{ event.event_age_range }} years old
                                        </p>
                                    </div>
                                    <!-- Access to event -->
                                    <div class="row no-margin-bot">
                                        <div class="col s12 center-align">
                                            {% if session["user"] %}
                                                <button type="submit"
                                                    class="btn small-btn submit-btn blue-bg white-txt center-align centered">
                                                    <span class="valign-wrapper">
                                                        See <span class="material-icons">login</span>
                                                    </span>
                                                </button>
                                            {% else %}
                                                <button type="button" id="try-see-event"
                                                    class="btn small-btn submit-btn blue-bg white-txt">
                                                    <span class="valign-wrapper">
                                                        See <span class="material-icons">login</span>
                                                    </span>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <div class="col s10 offset-s1 l4 offset-l4">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">No Event Created</div>
                        <div class="collapsible-body center-align">
                            <a href="{{ url_for('events.create_event', username=session['user']) }}"
                                aria-label="Link to the Creates page." class="btn submit-btn blue-bg white-txt">Create an Event</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

    <!-- Display events joined by user -->
    <div class="row">
        <h3 class="center-align">Events Joined</h3>
        {% if events_list_joined|length > 0 %}
            {% for event in events_list_joined %}
                <div class="col s10 offset-s1 l4 offset-l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <!-- Collapsible Header -->
                            <div class="row collapsible-header no-margin-bot">
                                <!-- Category -->
                                <div class="col s5">
                                    <p class="events-card-titles">{{ event.event_category }}</p>
                                </div>
                                <div class="col s7">
                                    <div class="row no-margin-bot">
                                        <!-- Date -->
                                        <div class="col s12">
                                            <p class="events-card-descriptions">{{ event.event_date }}</p>
                                        </div>
                                        <!-- Participant -->
                                        <div class="col s12 participant participant-mobile">
                                            {% if event.event_joined_by != None %}
                                                <span>{{ event.event_joined_by|length }} Participant</span>
                                            {% else %}
                                                <span>0 Participant</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Likes -->
                                <div class="likes-display z-depth-3">
                                    <div class="center-align">
                                        {% if event.event_likes != None %}
                                            <span class="likes-num">{{ event.event_likes|length }}</span>
                                        {% else %}
                                            <span class="likes-num">0</span>
                                        {% endif %}
                                        <span class="material-icons likes-icon blue-txt">thumb_up_alt</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Collapsible Body -->
                            <div class="row collapsible-body">
                                <form action="{{ url_for('events.see_event') }}" method="POST">
                                    <!-- Hidden input to get the event id -->
                                    <div class="hide">
                                        <input id="event_id" name="event_id" value="{{ event._id }}" type="text">
                                    </div>
                                    <div class="col s12">
                                        <div class="row">
                                            <!-- Location -->
                                            <div class="col s8">
                                                <p class="events-card-descriptions">In {{ event.event_location }}</p>
                                            </div>
                                            <!-- Time -->
                                            <div class="col s4">
                                                <p class="events-card-descriptions"> at {{ event.event_time }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Description -->
                                    <div class="col s12">
                                        <p class="events-card-descriptions center-align">{{ event.event_description }}
                                        </p>
                                    </div>
                                    <!-- Age Range -->
                                    <div class="col s12">
                                        <p class="events-card-descriptions center-align age">Best suited for children
                                            between {{ event.event_age_range }} years old
                                        </p>
                                    </div>
                                    <!-- Access to event -->
                                    <div class="row no-margin-bot">
                                        <div class="col s12 center-align">
                                            {% if session["user"] %}
                                                <button type="submit"
                                                    class="btn small-btn submit-btn blue-bg white-txt center-align centered">
                                                    <span class="valign-wrapper">
                                                        See <span class="material-icons">login</span>
                                                    </span>
                                                </button>
                                            {% else %}
                                                <button type="button" id="try-see-event"
                                                    class="btn small-btn submit-btn blue-bg white-txt">
                                                    <span class="valign-wrapper">
                                                        See <span class="material-icons">login</span>
                                                    </span>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% elif events_list|length > 0 %}
            <div class="col s10 offset-s1 l4 offset-l4">
                <ul class="collapsible" data-collapsible="accordion">
                    <li class="{{ no_event_class }}">
                        <div class="collapsible-header">No Event Joined</div>
                        <div class="collapsible-body center-align">
                            <a href="{{ url_for('events.browse_events') }}"
                            aria-label="Link to the Creates page." class="btn submit-btn blue-bg white-txt">Join an Event</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="col s10 offset-s1 l4 offset-l4">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">There are no Events at the moment</div>
                        <div class="collapsible-body center-align">
                            <a href="{{ url_for('events.create_event', username=session['user']) }}"
                                aria-label="Link to the Creates page." class="btn submit-btn blue-bg white-txt">Create
                                an Event</a>
                            <a href="{{ url_for('events.browse_events') }}" aria-label="Link to the Creates page."
                                class="btn submit-btn blue-bg white-txt">Join an Event</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

    <!-- Delete profile -->
    <div class="row center-align">
        <div class="col s12">
            <a class="btn red-bg cancel-btn delete-profile-btn" href="{{ url_for('users.delete_profile') }}">
                <span class="valign-wrapper">
                    Delete Profile <span class="material-icons">delete_forever</span>
                </span>
            </a>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scripts/profile.js') }}"></script>
{% endblock %}
