{% extends 'base.html' %}
{% block heading %}
    <h2 class="blue-txt">Event Description</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s10 offset-s1 m4 offset-m4 card-panel orange-bg">
            <!-- Category -->
            <div class="row events-card-sections">
                <div class="col s12">
                    <p class="events-card-titles padd-top">What ?</p>
                    <p class="events-card-descriptions">{{ event.event_category }}</p>
                </div>
            </div>
            <!-- Location -->
            <div class="row events-card-sections">
                <div class="col s12">
                    <p class="events-card-titles">Where ?</p>
                    <p class="events-card-descriptions">{{ event.event_location }}</p>
                </div>
            </div>
            <!-- Date -->
            <div class="row events-card-sections">
                <div class="col s12">
                    <p class="events-card-titles">When ?</p>
                    <p class="events-card-descriptions">{{ event.event_date }}</p>
                </div>
            </div>
            <!-- Time -->
            <div class="row events-card-sections">
                <div class="col s12">
                    <p class="events-card-titles">What time ?</p>
                    <p class="events-card-descriptions">{{ event.event_time }}</p>
                </div>
            </div>
            <!-- Age Range -->
            <div class="row events-card-sections">
                <div class="col s12">
                    <p class="events-card-titles">Age range in years :</p>
                    <p class="events-card-descriptions">{{ event.event_age_range }}</p>
                </div>
            </div>
            <!-- Description -->
            <div class="row events-card-sections">
                <div class="col s12">
                    <p class="events-card-titles">Description :</p>
                    <p class="events-card-descriptions">{{ event.event_description }}</p>
                </div>
            </div>
            <!-- Likes -->
            <div class="row events-card-sections">
                <div class="col s12">
                    <p class="events-card-descriptions">
                        <div class="center-align">
                            {% if event.event_likes != None %}
                                <span class="likes-display">{{ event.event_likes|length }}</span>
                            {% else %}
                                <span class="likes-display">0</span>
                            {% endif %}
                            {% if event._id|string in user.events_liked %}
                                <form method="POST"
                                    action="{{ url_for('events.unlike_event', username=session['user']) }}">
                                    <!-- Hidden input to get the event id -->
                                    <div class="hide">
                                        <input id="unlike_event" name="unlike_event" value="{{ event._id }}" type="text">
                                    </div>
                                    <!-- Remove a like -->
                                    <div class="center-align">
                                        <button class="transp-bg unlike-btn" type="submit"
                                            aria-label="Remove a like to the event.">
                                            <span class="valign-wrapper">
                                                <span class="material-icons centered red-txt">thumb_down_alt</span>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                <form method="POST" action="{{ url_for('events.like_event', username=session['user']) }}">
                                    <!-- Hidden input to get the event id -->
                                    <div class="hide">
                                        <input id="like_event" name="like_event" value="{{ event._id }}" type="text">
                                    </div>
                                    <!-- Add a like -->
                                    <div class="center-align">
                                        <button class="transp-bg like-btn" type="submit"
                                            aria-label="Add a like to the event.">
                                            <span class="valign-wrapper">
                                                <span class="material-icons centered blue-txt">thumb_up_alt</span>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </p>
                </div>
            </div>

            <!-- Buttons displayed depending on user and event info -->
            {% if event.event_created_by == user._id %}
                <div class="row padd-bot">
                    <!-- Cancel event -->
                    <div class="col s12 center-align">
                        <button type="button" aria-label="Cancel Event" id="try-cancel-event" class="btn cancel-btn red-bg white-txt">
                            Cancel Event
                        </button>
                    </div>
                    <!-- Update event -->
                    <div class="col s12 center-align">
                        <form action="{{ url_for('events.update_event') }}" method="POST">
                            <!-- Hidden input to get the event id -->
                            <div class="hide">
                                <input id="update_event" name="update_event" value="{{ event._id }}" type="text">
                            </div>
                            <button type="submit" class="btn submit-btn blue-bg white-txt">
                                Update Event
                            </button>
                        </form>
                    </div>
                </div>
            {% elif event._id|string in user.events_joined %}
                <!-- Leave event -->
                <div class="col s12 center-align padd-bot">
                    <button type="button" aria-label="Leave Event" id="try-leave-event" class="btn cancel-btn red-bg white-txt">
                        Leave Event
                    </button>
                </div>
            {% else %}
                <!-- Join event -->
                <form action="{{ url_for('events.join_event', username=session['user']) }}" method="POST" class="padd-bot center-align">
                    <!-- Hidden input to get the event id -->
                    <div class="hide">
                        <input id="join_event" name="join_event" value="{{ event._id }}" type="text">
                    </div>
                    <button class="btn submit-btn blue-bg white-txt" type="submit">
                        Join Event
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    <!-- Back to Events -->
    <div class="row">
        <div class="col12 center-align">
            <a href="{{ url_for('events.browse_events') }}" 
                class="btn waves-effect waves-light yellow-bg black-txt back-to-events-btn">Back to all Events</a>
        </div>
    </div>

    <!-- Cancel Event Modal -->
    <div class="card-panel modals" id="cancel-event-modal">
        <h3 class="warning text-shadow yellow-bg">
            <span class="valign-wrapper red-bg yellow-txt">
                <span class="material-icons">warning</span>
                This action is irreversible, if you continue the event will be deleted.
            </span>
        </h3>
        <form action="{{ url_for('events.cancel_event', username=session['user']) }}" method="POST">
            <!-- Hidden input to get the event id -->
            <div class="hide">
                <input id="cancel_event" name="cancel_event" value="{{ event._id }}" type="text">
            </div>
            <!-- Confirm cancel event -->
            <div class="center-align">
                <button class="btn cancel-btn red-bg white-txt" type="submit">
                    Cancel Event
                </button>
                <!-- Back to Events -->
                <a href="{{ url_for('events.browse_events') }}" aria-label="Link to the Home page." 
                    class="btn waves-effect waves-light green-bg white-txt cancel-delete-btn">Back to all Events</a>
            </div>
        </form>
    </div>

    <!-- Leave Event Modal -->
    <div class="card-panel modals" id="leave-event-modal">
        <h3 class="warning text-shadow">
            <span class="valign-wrapper red-txt">
                <span class="material-icons">warning</span>
                You are about to leave this Event? Confirm to proceed.
            </span>
        </h3>
        <form action="{{ url_for('events.leave_event', username=session['user']) }}" method="POST">
            <!-- Hidden input to get the event id -->
            <div class="hide">
                <input id="cancel_event" name="leave_event" value="{{ event._id }}" type="text">
            </div>
            <!-- Confirm leave event -->
            <div class="center-align">
                <button class="btn cancel-btn red-bg white-txt" type="submit">
                    Leave Event
                </button>
                <!-- Back to Events -->
                <a href="{{ url_for('events.browse_events') }}" aria-label="Link to the Home page." 
                    class="btn waves-effect waves-light green-bg white-txt cancel-delete-btn">Back to all Events</a>
            </div>
        </form>
    </div>
    
    <!-- Overlay -->
    <div id="see-event-overlay" class="overlay"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scripts/see-event.js') }}"></script>
{% endblock %}