<!-- <div class="row">
    <div class="input-field disabled col s12">
        <div class="chip col s3 profile-chip">
            {% if user.profile_picture != None %}
                user picture
                <img class="profile-picture" src="data:image/png;base64,{{ user.profile_picture }}"
                    alt="Profile image of {{ user.username }}">{{ user.username }}
            {% else %}
                default picture
                <img class="profile-picture"
                    src="/static/images/default-profile-picture/default-profile-picture.png"
                    alt="Default profile picture representing a smiling sunflower.">{{ user.username }}
            {% endif %}
        </div>
    </div>
</div> -->

