{% extends 'base.html' %}
{% block heading %}
<h2 class="blue-txt">Update your profile's picture</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="col s12 m8 offset-m2 l6 offset-l3 card-panel" method="POST" enctype="multipart/form-data" 
            action="{{ url_for('users.update_picture', user_id=user._id) }}">
            <div class="row">
                <!-- picture display -->
                <div class="row">
                    <div class="col s12 center-align">
                        {% if user.profile_picture != None %}
                            <img class="profile-picture" src="data:image/png;base64,{{ user.profile_picture }}" 
                                alt="Profile image of {{ user.username }}">
                        {% else %}
                            <img class="profile-picture" src="/static/images/default-profile-picture/default-profile-picture.png" 
                                alt="Default profile picture representing a smiling sunflower.">
                        {% endif %}
                    </div>
                </div>
                <!-- upload picture -->
                <div class="row">
                    <div class="file-field input-field col s12">
                        <div class="btn select-file">
                            <label" for="profile_picture">Select a picture</label>
                            <input id="profile_picture" name="profile_picture" type="file" accept=".png" class="validate">
                        </div>
                        <div class="file-path-wrapper">
                            <label for="my_picture"></label>
                            <input id="my_picture" name="my_picture" class="file-path validate" type="text" placeholder="Upload a file">
                            <span class="helper-text valign-wrapper">
                                <span class="material-icons">error_outline</span>Only .png files are accepted
                            </span>
                        </div>
                    </div>
                </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" autocomplete="new-password" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Update -->
            <div class="row">
                <div class="col12 center-align">
                    <button class="btn waves-effect waves-light blue-bg white-txt submit-btn" type="submit">Update</button>
                    <a href="{{ url_for('users.profile', username=session['user']) }}" 
                        class="btn waves-effect waves-light red-bg white-txt cancel-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}